<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museu Virtual</title>
    <link rel = "stylesheet" href = "../style/style.css">
</head>

<body>
    <header>
        <h1>Bem-vindo ao Museu Virtual</h1>
        <p>Explore as obras dos grandes mestres da arte</p>
    </header>
    <main>
        <nav>
            <a href="/tarsila">Ver obras de Tarsila do Amaral</a>
        </nav>
    </main>
</body>

</html>