<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Obras de Tarsila do Amaral</title>
    <link rel = "stylesheet" href = "../style/style.css">
  </head>
  <body>
    <header>
      <h1>Galeria: Tarsila do Amaral</h1>
      <p>Pioneira do modernismo brasileiro</p>
    </header>
    <main>
      <section>
        <p>Aqui exibiremos imagens e informações das obras mais famosas.</p>
      </section>

      <section class = "gallery">
            
        <img src="../image/a-cuca-1924.jpeg" alt="A cuca">
        <img src="../image/abapuru-1928.jpeg" alt="Abapuru">
        <img src="../image/the-moon-1928.jpeg" alt="A lua">

      </section>

      <nav>
        <a href="/">Voltar à página inicial</a>
      </nav>
    </main>
  </body>
</html>
